  h1 {
    margin: 0;
  }

  h3 {
    margin-top: 15px;
  }
  
  p {
    margin: 15px 0;
    line-height: 1.5;
    letter-spacing: 0.5pt;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }  

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    display: flex;
}

.container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 80px;
}

small {
    font-size: smaller;
    font-style: italic;
    color: #555;
}